## Exploring the listings_df dataset

- What are the most common types of properties listed on Airbnb?
- How does the availability of listings change over time?
- What is the average price of listings in different neighborhoods?
- Are there any specific amenities that are commonly offered in Airbnb listings?
- What is the distribution of review scores for the listed properties?
- Is there a correlation between the number of reviews and the overall rating of a listing?
- Are there any seasonal patterns in the pricing of listings?
- Which hosts have the highest number of listings?
- What are the most frequent cancellation policies chosen by hosts?
- Are there any correlations between the number of bedrooms, bathrooms, and the price of a listing?
- What is the distribution of property sizes (in terms of square feet) among the listings?
- How many listings have missing values for important attributes like description or review scores?
- How many listings have a minimum stay requirement of more than a certain number of nights?
- Are there any differences in review scores based on the instant bookability of a listing?
- Can we identify any outliers or unusual patterns in the data, such as extremely high prices or low review scores?

In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import hist
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

In [2]:
# Load the calendar dataset
calendar_df = pd.read_csv('calendar.csv')

# Load the listings dataset
listings_df = pd.read_csv('listings.csv')

In [3]:
listings_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [4]:
listings_df.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
count,3.585000e+03,3.585000e+03,3.585000e+03,3585.000000,3585.000000,0.0,3585.000000,3585.000000,3585.000000,3571.000000,...,2762.000000,2767.000000,2765.000000,2767.000000,2763.000000,2764.000000,0.0,0.0,3585.000000,2829.000000
mean,8.440875e+06,2.016091e+13,2.492311e+07,58.902371,58.902371,NaN,42.340032,-71.084818,3.041283,1.221647,...,9.431571,9.258041,9.646293,9.646549,9.414043,9.168234,NaN,NaN,12.733891,1.970908
std,4.500787e+06,0.000000e+00,2.292781e+07,171.119663,171.119663,NaN,0.024403,0.031565,1.778929,0.501487,...,0.931863,1.168977,0.762753,0.735507,0.903436,1.011116,NaN,NaN,29.415076,2.120561
min,3.353000e+03,2.016091e+13,4.240000e+03,0.000000,0.000000,NaN,42.235942,-71.171789,1.000000,0.000000,...,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,NaN,NaN,1.000000,0.010000
25%,4.679319e+06,2.016091e+13,6.103425e+06,1.000000,1.000000,NaN,42.329995,-71.105083,2.000000,1.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,NaN,NaN,1.000000,0.480000
50%,8.577620e+06,2.016091e+13,1.928100e+07,2.000000,2.000000,NaN,42.345201,-71.078429,2.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,NaN,NaN,2.000000,1.170000
75%,1.278953e+07,2.016091e+13,3.622147e+07,7.000000,7.000000,NaN,42.354685,-71.062155,4.000000,1.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,6.000000,2.720000
max,1.493346e+07,2.016091e+13,9.385411e+07,749.000000,749.000000,NaN,42.389982,-71.000100,16.000000,6.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,NaN,136.000000,19.150000

In [5]:
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 95 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3585 non-null   int64
 1   listing_url                       3585 non-null   object
 2   scrape_id                         3585 non-null   int64
 3   last_scraped                      3585 non-null   object
 4   name                              3585 non-null   object
 5   summary                           3442 non-null   object
 6   space                             2528 non-null   object
 7   description                       3585 non-null   object
 8   experiences_offered               3585 non-null   object
 9   neighborhood_overview             2170 non-null   object
 10  notes                             1610 non-null   object
 11  transit                           2295 non-null   object
 12  access                            2096 non-null   object
 13  interaction                       2031 non-null   object
 14  house_rules                       2393 non-null   object
 15  thumbnail_url                     2986 non-null   object
 16  medium_url                        2986 non-null   object
 17  picture_url                       3585 non-null   object
 18  xl_picture_url                    2986 non-null   object
 19  host_id                           3585 non-null   int64
 20  host_url                          3585 non-null   object
 21  host_name                         3585 non-null   object
 22  host_since                        3585 non-null   object
 23  host_location                     3574 non-null   object
 24  host_about                        2276 non-null   object
 25  host_response_time                3114 non-null   object
 26  host_response_rate                3114 non-null   object
 27  host_acceptance_rate              3114 non-null   object
 28  host_is_superhost                 3585 non-null   object
 29  host_thumbnail_url                3585 non-null   object
 30  host_picture_url                  3585 non-null   object
 31  host_neighbourhood                3246 non-null   object
 32  host_listings_count               3585 non-null   int64
 33  host_total_listings_count         3585 non-null   int64
 34  host_verifications                3585 non-null   object
 35  host_has_profile_pic              3585 non-null   object
 36  host_identity_verified            3585 non-null   object
 37  street                            3585 non-null   object
 38  neighbourhood                     3042 non-null   object
 39  neighbourhood_cleansed            3585 non-null   object
 40  neighbourhood_group_cleansed      0 non-null      float64
 41  city                              3583 non-null   object
 42  state                             3585 non-null   object
 43  zipcode                           3547 non-null   object
 44  market                            3571 non-null   object
 45  smart_location                    3585 non-null   object
 46  country_code                      3585 non-null   object
 47  country                           3585 non-null   object
 48  latitude                          3585 non-null   float64
 49  longitude                         3585 non-null   float64
 50  is_location_exact                 3585 non-null   object
 51  property_type                     3582 non-null   object
 52  room_type                         3585 non-null   object
 53  accommodates                      3585 non-null   int64
 54  bathrooms                         3571 non-null   float64
 55  bedrooms                          3575 non-null   float64
 56  beds                              3576 non-null   float64
 57  bed_type                          3585 non-null   object
 58  amenities                         3585 non-null   object
 59  square_feet                       56 non-null     float64
 60  price                             3585 non-null   object
 61  weekly_price                      892 non-null    object
 62  monthly_price                     888 non-null    object
 63  security_deposit                  1342 non-null   object
 64  cleaning_fee                      2478 non-null   object
 65  guests_included                   3585 non-null   int64
 66  extra_people                      3585 non-null   object
 67  minimum_nights                    3585 non-null   int64
 68  maximum_nights                    3585 non-null   int64
 69  calendar_updated                  3585 non-null   object
 70  has_availability                  0 non-null      float64
 71  availability_30                   3585 non-null   int64
 72  availability_60                   3585 non-null   int64
 73  availability_90                   3585 non-null   int64
 74  availability_365                  3585 non-null   int64
 75  calendar_last_scraped             3585 non-null   object
 76  number_of_reviews                 3585 non-null   int64
 77  first_review                      2829 non-null   object
 78  last_review                       2829 non-null   object
 79  review_scores_rating              2772 non-null   float64
 80  review_scores_accuracy            2762 non-null   float64
 81  review_scores_cleanliness         2767 non-null   float64
 82  review_scores_checkin             2765 non-null   float64
 83  review_scores_communication       2767 non-null   float64
 84  review_scores_location            2763 non-null   float64
 85  review_scores_value               2764 non-null   float64
 86  requires_license                  3585 non-null   object
 87  license                           0 non-null      float64
 88  jurisdiction_names                0 non-null      float64
 89  instant_bookable                  3585 non-null   object
 90  cancellation_policy               3585 non-null   object
 91  require_guest_profile_picture     3585 non-null   object
 92  require_guest_phone_verification  3585 non-null   object
 93  calculated_host_listings_count    3585 non-null   int64
 94  reviews_per_month                 2829 non-null   float64
dtypes: float64(18), int64(15), object(62)
memory usage: 2.6+ MB

##### Let us check for null values and remove columns that are not necessary

In [6]:
high_null_columns = (listings_df.columns[listings_df.isnull().mean() > 0.90])
high_null_columns

Index(['neighbourhood_group_cleansed', 'square_feet', 'has_availability',
       'license', 'jurisdiction_names'],
      dtype='object')

In [7]:
half_null_columns = (listings_df.columns[listings_df.isnull().mean() > 0.50])
half_null_columns

Index(['notes', 'neighbourhood_group_cleansed', 'square_feet', 'weekly_price',
       'monthly_price', 'security_deposit', 'has_availability', 'license',
       'jurisdiction_names'],
      dtype='object')

In [8]:
#Drop all these columns
listings_df.drop(high_null_columns,axis=1,inplace=True)

In [16]:
#Most common types of rooms
listings_df['room_type'].value_counts()

room_type
Entire home/apt    2127
Private room       1378
Shared room          80
Name: count, dtype: int64

In [10]:
#Most common type of beds
listings_df['bed_type'].value_counts()

bed_type
Real Bed         3453
Futon              51
Airbed             40
Pull-out Sofa      31
Couch              10
Name: count, dtype: int64

In [11]:
listings_df['price'].describe()

count        3585
unique        324
top       $150.00
freq          144
Name: price, dtype: object

In [12]:
columns_with_dollar_sign = []

# Iterate over the column names
for column in listings_df.columns:
    if listings_df[column].dtype == 'O':
    # Check if the column name contains "$"
        if listings_df[column].str.contains('\$').any():
            columns_with_dollar_sign.append(column)

# Print the column names with "$" sign
print(columns_with_dollar_sign)

['name', 'summary', 'space', 'description', 'neighborhood_overview', 'notes', 'transit', 'access', 'interaction', 'house_rules', 'host_about', 'price', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee', 'extra_people']

In [13]:
columns_with_price = [ 'price', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee', 'extra_people']

listings_df[columns_with_price].describe()

,price,weekly_price,monthly_price,security_deposit,cleaning_fee,extra_people
count,3585,892,888,1342,2478,3585
unique,324,243,288,54,79,51
top,$150.00,"$1,000.00","$3,500.00",$100.00,$100.00,$0.00
freq,144,48,30,299,353,2211

In [14]:
listings_df['host_identity_verified'].value_counts()

host_identity_verified
t    2603
f     982
Name: count, dtype: int64